html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 24px;
    background-color: #f5f5f5;
    overflow: hidden scroll;
    overflow-x: hidden;
}

.el-card .el-card__header {
    padding: 0 .6rem;
}


.el-carousel .el-carousel__button {
    width: .5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #ccc;
}

.el-carousel__indicator, 
.el-carousel__indicator--horizontal, 
.is-active > .el-carousel__button  {
    background-color: #3190e8;
}

.el-rate .el-rate__icon {
    font-size: .5rem;
  margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.el-tabs .el-tabs--left .el-tabs__item {
    text-align: center;
}

/* .el-tabs .el-tabs__nav .is-left {
    overflow: hidden scroll;
} */

.el-tabs .el-tabs__item {
    padding: 0;
    text-align: center !important;
}

.el-tabs__header .is-left {
    overflow: hidden scroll;
}

.el-tabs .el-tabs--left {
    height: 18rem !important;
}